# Supabase Configuration
# Dapatkan URL dan Anon Key dari Dashboard Supabase Anda
# https://supabase.com/dashboard/project/_/settings/api

VITE_SUPABASE_URL=https://ndrtrwgxnyjwmkiqtjwc.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_KdBvODVu2Jn-ScQum4IA2g_AiKZgqgc